<h3>Ingrese el producto para crear carrito</h3><br>
<form id="formCargarCarts" >
<label for="input_producto">id de producto: </label><input type="text" name="producto" id="input_producto"><br>
<label for="input_cantidad">cantidad de producto: </label><input type="number" name="carntidad" id="input_cantidad"><br>
<button type="submit">Guardar</button>

</form>
<script src="/js/cargarCarts.js"></script>
