<h3>Ingrese el producto</h3><br>
<form id="formCargarProductos" >
<label for="input_title">Titulo: </label><input type="text" name="title" id="input_title"><br>
<label for="input_description">Descripcion: </label><input type="text" name="description" id="input_description"><br>
<label for="input_code">Codigo: </label><input type="text" name="code" id="input_code"><br>
<label for="input_price">Precio: $</label><input type="number" name="price" id="input_price"><br>
<label for="input_category">Categoria: </label><input type="text" name="category" id="input_category"><br>
<label for="input_stock">Stock: </label><input type="number" name="stock" id="input_stock"><br><br>
<button type="submit">Guardar</button>

</form>
<script src="/js/cargarProductos.js"></script>
